<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookie{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='book_details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='book_search.css') }}">
</head>
<body>
<header>
    <h1>Welcome to Bookie</h1>
</header>
<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('browse') }}">Browse Books</a>
    <a href="{{ url_for('recommendations') }}">Recommendations</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('contact') }}">Contact</a>
    <a href="{{ url_for('user_list') }}">My Books</a>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Dialogflow Messenger -->
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<df-messenger
        intent="WELCOME"
        chat-title="Bookie"
        agent-id="038e653c-7661-4f25-81fe-b4d2a53ee657"
        language-code="en">
</df-messenger>

{% block scripts %}{% endblock %}
</body>
</html>
