<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Bookie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_registration.css') }}">
    <script>
        function validateForm(form, event) {
            event.preventDefault();

            const username = form.username.value.trim();
            const email = form.email.value.trim();
            const password = form.password.value.trim();

            if (!username || !email || !password) {
                alert("All fields are required!");
            } else {
                form.submit();
            }
        }

    </script>
</head>
<body>
<header>
    <h1>Bookie</h1>
</header>

<div class="form-container">
    <h1>Register</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/register" onsubmit="validateForm(this, event)">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <br>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <br>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <br>
        <input type="submit" value="Register">
    </form>
    <br>
    <button class="btn" onclick="window.location.href='/login';">Login</button>
</div>
</body>
</html>
